<?xml version="1.0"?>
<ruleset name="ReleaseScribe">
    <description>The coding standard for ReleaseScribe.</description>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <rule ref="PSR12"/>
    <file>src</file>
    <file>tests</file>
    <exclude-pattern>vendor/*</exclude-pattern>
</ruleset>
